<style>
    .permission-list {
        list-style: none;
        padding: 0;
    }

    .permission-list .permission-input {
        margin-top: 10px;
    }
</style>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin">
                <i class="fas fa-home"></i> {{_ 'Admin'}}
            </a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a href="/admin/role/search">
                <i class="fas fa-key"></i> {{_ 'Roles'}}
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{#when action '===' 'create'}}
                <i class="fas fa-plus"></i> {{title}}
            {{else}}
                <i class="fas fa-edit"></i> {{title}}
            {{/when}}
        </li>
    </ol>
</nav>

<div class="main-padding">
    <h3 class="main-title"><i class="fa fa-key"></i> {{title}}</h3>
    <form enctype="multipart/form-data" method="post" data-do="permission-field">
        <div class="form-group">
            <label class="control-label">{{_ 'Role Name'}}</label>
            <input
                class="form-control {{#if errors.role_name}}is-invalid{{/if}}"
                placeholder="Super Admin"
                name="role_name"
                {{#if item.role_flag}}
                readonly="readonly"
                {{/if}}
                value="{{item.role_name}}"
                type="text">
            {{#if errors.role_name}}
            <div class="invalid-feedback">
                {{errors.role_name}}
            </div>
            {{/if}}
        </div>
        <div class="form-group">
            <label class="control-label">{{_ 'Permissions'}}</label>            
            <div class="table-overflow {{#if errors.role_permissions}}form-control is-invalid{{/if}}">
                <button type="button" class="btn btn-success permission-action-add">
                    <i class="fas fa-plus"></i>
                    {{_ 'Add Permission'}}
                </button>
                <ul class="permission-list m-0">
                    {{#each item.role_permissions}}
                        {{> role_permission}}
                    {{/each}}
                </ul>
            </div>
            {{#if errors.role_permissions}}
            <div class="invalid-feedback">
                {{errors.role_permissions}}
            </div>
            {{/if}}
        </div>
        <div class="clear form-group">
            <hr/>
            <input type="hidden" name="csrf" value="" />
            <button type="submit" class="btn btn-primary">{{_ 'Submit'}}</button>
        </div>
    </form>
</div>
